# dependencies
node_modules/
packages/chat-sdk/src/config.ts
packages/liveblog-sdk/src/config.ts
packages/core/src/config.ts

# build and test
dist/
build/
coverage/
esm/

# os
.DS_Store

# Optional eslint cache
.eslintcache

# logs
*.log

# editor
.vscode

node_modules