.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px;
  border-top: 0.5px solid #dedede;
}

.copy {
  color: #0a2540;
  font-size: 14px;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions a {
  color: #0a2540;
  font-size: 14px;
}
